<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="poliues.eisi.fia.edu.sv.poliues">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".principal"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SolicitudInsertarActivity" />
        <activity android:name=".DetalleSolicitudInsertarActivity" />
        <activity android:name=".SolicitudActualizarActivity" />
        <activity android:name=".SolicitudEliminarActivity" />
        <activity android:name=".SolicitudConsultarActivity" />
        <activity android:name=".DetalleSolicitudActualizarActivity" />
        <activity
            android:name=".AdministradorActivity"
            android:label="@string/title_activity_administrador"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AdministradorInsertarActivity"
            android:label="@string/action_administrador_agregar"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
